html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#usernameForm {
    padding: 60px;
    border: 1px solid #eee;
    border-radius: 20px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

usernameForm form input {
    border: 1px solid transparent;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

#userList {
    flex: 0 1 auto;
    width: 15%;
    color: black;
    background-color: #4B9CE3;
    text-align: center;

}

.userid {
    table-layout: fixed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height:90px;
    font-size: 32pt;
    border-radius: 5px;
    min-width: 500px;
}
table 
{
    margin-left: auto;
    margin-right: auto;
}
table tr
{
    display: table-cell;
    min-width: 500px;
}

.me {
    table-layout: fixed;
    color: black;
     width: 150px;
    font-size: 32pt;
    text-align: center;
    background-color:  #4B9CE3;
    min-width: 500px;

}

#main-container {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    width: 100%;
}

#game-box {
    width: 70%;
    flex: 0 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    border-right: 1px solid #666;
}

#game {
    /*
    width: 800px;
    height: 600px;
    */
    border: 1px solid #060;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#message-box {
    flex: 1 1 auto;
    /*    background-color: #48cea1;*/
    display: flex;
    flex-flow: column;
}

#messages-container {
    /*    border-left: 1px solid #666;*/
    background-color: #ddd;
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    position: relative;
}

#messages {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
}

#messages li {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #333;
    text-align: left;
}

#messages li.self {
    background-color: #999;
}

#messages li.user-join {
    background-color: #4b9ce3;
}

#messages li.user-leave {
    background-color: #e34b4b;
}

#messages li .winMsg {
    text-align: center;
    font-size: 30px;
    background-color: #060;
    color: white;
}

#message_form {
    flex: 0 0 auto;
    margin: 0;
    background: #000;
    width: 100%;
    display: flex;
    flex-flow: row;
    bottom: 0;
}

#message_form * {
    margin: 3px;
}

#message_form input {
    flex: 1 1 auto;
    border: 0;
    padding: 10px;
}

#message_form button {
    flex: 0 0 auto;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}


/*
#messages li span {
    float: right;
    text-align: right;
}*/